<section class="context">
  <% if @person == 'santi' %>
    Santi is Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  <% else %>
    Neil is Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  <% end %>
</section>

<section class="photos">
  <% if @person == 'santi' %>
    <%= image_tag "santi-garza/at-college-party.png" %>
    <div class="caption">
      Santi liked parties when he was…I’m gonna guess 15?
    </div>
    <%= image_tag "santi-garza/at-joshua-tree.tiff" %>
    <div class="caption">
      Santi at j tree, not tripping on shrooms.
    </div>
    <%= image_tag "santi-garza/at-tinder-desk.jpg" %>
    <div class="caption">
      This is a rare sighting of Santi at his desk. Note the lack of a computer or any other implement of work. The trophy plaque amidst the fake plants and howling wolf holograms reads: “World’s Best Lover.”
    </div>
    <%= image_tag "santi-garza/buckets-by-ocean.tiff" %>
    <div class="caption">
      I think Santi is the one looking in the bucket? This may have been the moment he started referring to all his close friends as “little tuna”
    </div>
    <%= image_tag "santi-garza/headshot.tiff" %>
    <div class="caption">
      Santi is half mexican.
    </div>
    <%= image_tag "santi-garza/horseback-riding.tiff" %>
    <div class="caption">
      Santi was the little spoon on horseback rides.
    </div>
    <%= image_tag "santi-garza/in-surf-van.tiff" %>
    <div class="caption">
      Santi lived in an immaculately clean van and created his own surfer’s paradise, of which he was justifiably proud.
    </div>
    <%= image_tag "santi-garza/in-van.tiff" %>
    <div class="caption">
      Santi lived in a van. Yes, before you ask, occasionally it was parked down by a river.
    </div>
    <%= image_tag "santi-garza/making-funny-face.tiff" %>
    <div class="caption">
      This was santi’s avatar in the official tinder slack. Picture this alongside a message saying “hmmm, I can’t reproduce that bug, are you sure it was me?”
    </div>
    <%= image_tag "santi-garza/on-raft-with-dad-and-brother.tiff" %>
    <div class="caption">
      Being photographed shirtless runs in Santi’s family.
    </div>
    <%= image_tag "santi-garza/on-tinder-office-wall.tiff" %>
    <div class="caption">
      Santi and Neil worked at Tinder during the golden age.
    </div>
    <%= image_tag "santi-garza/petting-cat.tiff" %>
    <div class="caption">
      Santi is legit fascinated by every living thing around him.
    </div>
    <%= image_tag "santi-garza/rock-climbing-tinder-avatar.tiff" %>
    <div class="caption">
      This is the international sensation known as Santi’s primary tinder photo. Hush now children and pay your respects, you are in the presence of greatness.
    </div>
    <%= image_tag "santi-garza/rock-climbing.tiff" %>
    <div class="caption">
      Santi apparently didn’t like the first rock climbing photo he sent me because it wasn’t shirtless enough.
    </div>
    <%= image_tag "santi-garza/shaping-surfboard.tiff" %>
    <div class="caption">
      Santi may have his head in the clouds (tie dyed shirt) but he’s good at manual labor. In lisbon he fixed my bike with his bare hands and it saved my ass.
    </div>
    <%= image_tag "santi-garza/shovel-mountains.tiff" %>
    <div class="caption">
      Santi described this photo to me as “dangerous sexy.” He also volunteered to provide other angles if I needed them.
    </div>
    <%= image_tag "santi-garza/skating.tiff" %>
    <div class="caption">
      Santi skates.
    </div>
    <%= image_tag "santi-garza/surfing-ripping-waves.tiff" %>
    <div class="caption">
      This is Santi’s gmail avatar: him on dawn patrol in the dirty bu hunting for barrels.
    </div>
    <%= image_tag "santi-garza/surfing-shredding-gnar.tiff" %>
    <div class="caption">
      Santi gave me three photos of him shredding gnar and I ran out of clever puns to do.
    </div>
    <%= image_tag "santi-garza/surfing.tiff" %>
    <div class="caption">
      Is this a publishing house frantically trying to get rid of unsold copies of C.S. Lewis books? Because someone is shredding the chronicles of gnarnia.
    </div>
    <%= image_tag "santi-garza/tennis-match.tiff" %>
    <div class="caption">
      One time Santi challenged me to a tennis match, betting on his athleticism over my skill. He lost in two sloppy sets, but we still billed it as the “Match of the Century” in a Paperless Post to the whole company and had a nonplussed crowd weakly cheering us on throughout.
    </div>
    <%= image_tag "santi-garza/tinder-employee-badge.tiff" %>
    <div class="caption">
      This was Santi’s employee badge.
    </div>
    <%= image_tag "santi-garza/veuve-cliquot-tinder-event.tiff" %>
    <div class="caption">
      This is Santi with two of our absolute favorite people at our old company. Shoutout to Dworsky and Lacey.
    </div>
    <%= image_tag "santi-garza/with-dad-as-child.tiff" %>
    <div class="caption">
      Yeah ok this is pretty cute. Foreshadowing a european future for this little tyke.
    </div>
    <%= image_tag "santi-garza/with-paul-rada-and-surf-friends.tiff" %>
    <div class="caption">
      Santi surfs and his friends do too. He also likes acting like a cat on camera.
    </div>
    <%= image_tag "santi-garza/with-puppy.tiff" %>
    <div class="caption">
      Santi likes puppies and has other hot friends who also like puppies. I would give you his number right now but his flip phone got disconnected when he left the states.
    </div>
  <% else %>
    <%= image_tag "neil-sarkar/neil-adam-kopec-seaport.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-artem-veuve-clicquot-tinder-rooftop.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-ashley-jeremy-rooftop-arts-district.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-backflop-la-rooftop-pool.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-bird-australia.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-child-with-siblings.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-clown.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-convertible-palm-springs.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-groupme-kevin-pat-kopec-cam.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-in-n-out.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-lacma-gangsta-baby.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-london-hug.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-medieval-times.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-meme-christmas-tree.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-musical-improv-singing.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-mustache-caleb-brown.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-nyc-marathon-double-middles.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-sheila-sarkar-child.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-smoking-post-nyc-marathon.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-toby-scales-improv-ucbeast.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-ucbeast-indie-cagematch.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-um-homem-e-suas-coisas.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-wedding-come-hither.jpg" %>
    <div class="caption">

    </div>
    <%= image_tag "neil-sarkar/neil-wedding-tuxedo.jpg" %>
    <div class="caption">

    </div>
  <% end %>
</section>
