<section class="context">
  <% if @person == 'santi' %>
    <p>
      Santi owns the visual brand of Super Serious Company and draws all the cartoons. He's active as fuck and has a magnetic personality. His outgoing and earnest exterior belies an existential turmoil and an artistic struggle to represent the beauty he perceives around him.
    </p>
  <% else %>
    <p>
      Neil Rajat Sarkar is the entire Super Serious Company engineering department.
    </p>
  <% end %>
</section>

<section class="photos">
  <% if @person == 'santi' %>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-tinder-desk-working-los-angeles-california.jpg" %>
      <div class="caption">
        This is a rare sighting of Santi at his desk. Note the lack of a computer or any other implement of work. The trophy plaque amidst the fake plants and howling wolf holograms reads: “World’s Best Lover.”
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-tinder-los-angeles-california-hair-pigtails-ponytail-funny-serious-face.jpg" %>
      <div class="caption">
        This was Santi’s employee badge.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-mountains-shovel-pasadena-los-angeles-california-young.jpg" %>
      <div class="caption">
        Santi described this photo to me as “sexy, like in a dangerous way.” He also volunteered to provide other angles of him and the shovel if I needed them.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-neil-sarkar-tinder-super-serious-company-employee-los-angeles-hair.jpg" %>
      <div class="caption">
        Tinder put up with this for a year and a half.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-young-funny-face.jpg" %>
      <div class="caption">
        TFW you fart and no one's noticed yet.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-climbing-bouldering-los-angeles-california-hair.jpg" %>
      <div class="caption">
        This was the international sensation known as Santi’s Tinder test account. Hush now children and pay your respects, you are in the presence of greatness.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-at-college-party-lucas-garza-funny-face-young-shaved-head-hair.png" %>
      <div class="caption">
        Santi liked parties when he was…I’m gonna guess 15?
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-kitten-bed-hair-bun-cat-pasadena-california.jpg" %>
      <div class="caption">
        Santi is legit fascinated by every living thing around him.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-mushroom-trip-joshua-tree-california.jpg" %>
      <div class="caption">
        Santi at Joshua Tree, totally not tripping on shrooms.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-neil-sarkar-super-serious-company-tennis-hair-los-angeles-california-funny.jpg" %>
      <div class="caption">
        One time Santi publicly challenged me to a tennis match. Everyone at the office came to watch. He doesn't play tennis. He lost.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-puppies-puppy-victor-colomes-tinder-malibu-los-angeles.jpg" %>
      <div class="caption">
        Santi likes puppies and has other hot friends who also like puppies. I know you want his number but he left his flip phone in the states.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-rock-climbing-bouldering.jpg" %>
      <div class="caption">
        Santi apparently didn’t like the first rock climbing photo he sent me because it wasn’t shirtless enough.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-short-hair-buzzed-with-dad-brother-lucas-agustin-raft-ocean-young.jpg" %>
      <div class="caption">
        Being photographed shirtless runs in Santi’s family.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-skating-skateboarding-pool-young-pasadena-california-high-school.jpg" %>
      <div class="caption">
        Before he was homeless, Santi used to break into people's houses to skate their empty pools.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-surfing-coral-saucedo-paul-rada.jpg" %>
      <div class="caption">
        Santi always says "two dragons" when a photo's being taken, but he's the only one that ever strikes the pose.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-surfing-costa-rica-wave-ocean-water-california.jpg" %>
      <div class="caption">
        Bruskakanaka, this is a mega stoked Santi Claus dawn patrolling it, ripping into Poseidon's glassy shoulder like wuppah!
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-surfing-surf-wave-costa-rica-surfer.jpg" %>
      <div class="caption">
        Is this a publishing house frantically trying to get rid of unsold copies of C.S. Lewis books? Because someone is shuh-rrrreding the Chronicles of Gnarnia.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-surfing-costa-rica-wave-surf.jpg" %>
      <div class="caption">
        Alright, Santi gave me three photos of him surfing and I ran out of clever puns to do.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-tinder-los-angeles-california-alex-dworsky-lacey-hulsey-funny.jpg" %>
      <div class="caption">
        This is Santi with two of our absolute favorite people. Shoutout to Dworsky and Lacey.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-van-vanlife-california-sunglasses-serious-young.jpg" %>
      <div class="caption">
        Santi lived in a white van with no windows. Yes, before you ask, occasionally it was parked down by a river.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-van-vanlife-surfing-smiling-los-angeles-california.jpg" %>
      <div class="caption">
        The van was immaculately clean. He created his own surfer’s paradise, of which he was justifiably proud.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-young-child-kid-baby-with-dad-agustin.jpg" %>
      <div class="caption">
        Yeah ok this is pretty cute. Foreshadowing a european future for this little tyke.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-young-skateboards-saffron-surfing-companies.jpg" %>
      <div class="caption">
        Santi may have his head in the clouds (tie dyed shirt) but he’s good at manual labor. In Lisbon he fixed my bike with his bare hands and it saved my ass.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "super-serious-santi-santiago-garza/santiago-garza-santi-young-baby-toddler-horse-gonzalo-mayer-child-kid-early.jpg" %>
      <div class="caption">
        Santi has always been little spoon on horseback rides.
      </div>
    </div>
  <% else %>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-ashley-jeremy-rooftop-arts-district.jpg" %>
      <div class="caption">
        Come n’ get it, he thinks.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-convertible-palm-springs.jpg" %>
      <div class="caption">
        Santi once invited Neil on a surf trip in the van. Neil had to sleep on the floor in a sleeping bag, huddled next to the rusted wheel well. The stark contrast was indicative of times to come.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-medieval-times.jpg" %>
      <div class="caption">
        This is Neil as an oversized 3rd grader, still blissfully unaware that life ain’t some goddamn fairytale, kid.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-mustache-caleb-brown.jpg" %>
      <div class="caption">
        We try not to talk about this phase.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-toby-scales-improv-ucbeast.jpg" %>
      <div class="caption">
        Neil’s improv partner looking for any contribution whatsoever from Neil – anything, kaman.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-adam-kopec-seaport.jpg" %>
      <div class="caption">
        Neil and Kopec worked together before Super Serious Company. Santi is secretly jealous of Neil’s past business lovers.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-bird-australia.jpg" %>
      <div class="caption">
        Neil and his pet bird or some bird and its pet Neil – unclear.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-child-with-siblings.jpg" %>
      <div class="caption">
        Some of Neil’s early coding quirks are still with him today: poop.js, snarky commit messages, deleting entire files as a debugging strategy, etc.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-clown.jpg" %>
      <div class="caption">
        Before becoming a software engineer, Neil did kids’ birthday parties. The parents found out quickly it was not his calling.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-groupme-kevin-pat-kopec-cam.jpg" %>
      <div class="caption">
        Neil’s glory days at GroupMe.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-lacma-gangsta-baby.jpg" %>
      <div class="caption">
        Neil tries to become as many kids’ godfather as possible; it’s his thing. I don’t believe this one went through.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-um-homem-e-suas-coisas.jpg" %>
      <div class="caption">
        Neil insists on wearing a suit on every flight. Hasn't used the suit once since moving to Portugal, but it takes up half the room in Santi’s closet.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-london-hug.jpg" %>
      <div class="caption">
        Neil has no kids yet.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-artem-veuve-clicquot-tinder-rooftop.jpg" %>
      <div class="caption">
        Here, an unsolicited advance slowly becomes okay.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-meme-christmas-tree.jpg" %>
      <div class="caption">
        As a full grown adult, Neil made this Christmas ornament.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-wedding-come-hither.jpg" %>
      <div class="caption">
        Voilà.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-musical-improv-singing.jpg" %>
      <div class="caption">
        These days, Neil wears the same t-shirt everyday; it’s this one – $150 somehow.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-wedding-tuxedo.jpg" %>
      <div class="caption">
        Neil loves convertibles, money, and tuxes.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-nyc-marathon-double-middles.jpg" %>
      <div class="caption">
        This is Neil a few seconds away from crossing the finish line at his first or second marathon. Anyways, that’s not important; what is important is Nicolas.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-backflop-la-rooftop-pool.jpg" %>
      <div class="caption">
        Neil has always been athletically inclined and made it a point to show off at parties and family events.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-ucbeast-indie-cagematch.jpg" %>
      <div class="caption">
        Neil’s passion: improv. There are no improv studios here in Portugal, so he keeps pitching ideas that are improv in app form.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-smoking-post-nyc-marathon.jpg" %>
      <div class="caption">
        Neil spooked by something stage left.
      </div>
    </div>
    <div class="exhibit">
      <%= image_tag "neil-sarkar/neil-sheila-sarkar-child.jpg" %>
      <div class="caption">
        I can’t say anything mean about this.
      </div>
    </div>
  <% end %>
</section>
