<section class="context padded">
  <p>
    Plot: Homeless guy and his boss quit jobs and randomly move to Portugal.
  </p>
  <p>
    Here's what happened today:
  </p>
</section>

<section class="story">
  <div class="chevrons">
    <a class="chevron down" title="Go to top of page"></a>
    <a class="chevron up" title="Go to bottom of page"></a>
  </div>

  <% day = @day %>
  <% cache day do %>
    <article class="day">
      <h2 class="padded">
        <%= day.portuguese_title %> (<%=day.english_title%>)
      </h2>
      <%= image_tag day.image_url %>
      <div class="quotes">
        <blockquote class="santi padded">
          <%= raw day.santi_quote %>
        </blockquote>

        <blockquote class="neil padded">
          <%= raw day.neil_quote %>
        </blockquote>
      </div>
    </article>
  <% end %>

  <h2>FIXME: LINKS TO MORE CONTENT</h2>
</section>
