<section class="context" style="font-size: 16px; text-align: center; ">
  <p>
    We live in Portugal on an island called Ilha do Baleal.<br />It's surrounded by surf and corn fields.
  </p>
</section>

<section class="house">
  <%= image_tag "proPortugal.jpg"%>
  <%= image_tag "waves.jpg"%>
  <%= image_tag "balcony.jpg"%>
  <%= image_tag "sunset.jpg"%>
  <p style="text-align: center">
    Porque?
  </p>

  <p>
    Portugal's living costs are among the lowest of all developed countries'.
    The U.S. is the 21st most expensive country to live in; Portugal is the 54th.
  </p>

  <p>
    Relative to other inexpensive countries, Portugal has screaming fast (1Gb/s) Internet speeds.
  </p>

  <p>
    The surf is disgustingly epic. Peniche boasts a dozen world class breaks, one of which is the famed Supertubos, stop #10 on the World Tour.
    Santi and Neil plan to get barreled here on the daily.
  </p>

  <p>
    The current time in Peniche is <%= Time.now.in_time_zone('Lisbon').strftime("%-I:%m%p").downcase%>.
    If we're working, you can drop in and say hi at <a href="https://appear.in/superseriouscompany" target="_blank">https://appear.in/superseriouscompany</a>.
  </p>
</section>
