<section class="context">
  <p>
    Shit we believe that's probably wrong.
  </p>
</section>

<section class="philosophy">
  <div class="quotes">
    <blockquote class="santi">
      When other people tell you what to do every day, and you don't have total creative freedom to do what you think is right, a little part of you shrivels up and dies, and the rest of you just sort of goes into auto-pilot to get through the day. That little part of you is the most important part though, and so we're thinking Super Serious Company will never have bosses or a hierarchy or any of that mess; if you're here, you have zero authority, just like everyone else. This, of course, only works up to like ten or twelve people, so I guess we'll have to remain small. WhatsApp and Instagram were small though, so it's possible.
      <%= image_tag "chatBubble.jpg", class: "chatBubble" %>
    </blockquote>

    <blockquote class="neil">
      Everyone has a boss. The CEO’s boss is the board. A self sustaining farmer’s boss is nature. There is no objectively ideal boss, and I personally prefer trading off security and predictability for autonomy. My ranking of bosses:
      an audience > a market > nature >>> a board > clients > a good manager > a bad manager
      <%= image_tag "chatBubble.jpg", class: "chatBubble" %>
    </blockquote>

    <blockquote class="santi">
      I've wanted to do this forever – start a tech company –, so, in the course of many years, I went through careful steps in order to gain experience: learned how to code, crashed classes at Caltech, worked on small projects, freelanced on random projects, learned how to design, got a job at Tinder, observed how a successful tech company does it's thing, hopped on as a cofounder to a friend's startup, partook in its acquisition. All this ramp up, and I'll never feel quite ready to start my own big thing. That changed when I had a good friend tell me that preparation is just a defense mechanism, that the time is always now.
      <%= image_tag "chatBubble.jpg", class: "chatBubble" %>
    </blockquote>

    <blockquote class="neil">
      We value fun, autonomy and creative expression.
      <%= image_tag "chatBubble.jpg", class: "chatBubble" %>
    </blockquote>

    <blockquote class="santi">
      If it's not fun, bail.
      <%= image_tag "chatBubble.jpg", class: "chatBubble" %>
    </blockquote>

    <blockquote class="neil">
      Software is a creative art. There's a fundamental tension between art and business. I believe there are two components to this tension. The first is an irreducible tension between the deliberate slowness of creation in the medium and the capricious speed of ideas and the market. The second is a fundamental misunderstanding and devaluation between an artist and a suit, with each seeing the other side as a necessary liability. I’m betting big on Santi and I because we each have an internal artist and an internal businessman, and I think that by marrying these two adversary thought patterns we can holistically create new, good shit. We can also maybe invent creative organizational practices to mitigate the first irreducible tension between creation and ideas that aren’t just “hire more people to make the creation faster”.
      <%= image_tag "chatBubble.jpg", class: "chatBubble" %>
    </blockquote>

    <blockquote class="santi">
      We've been thinking a lot about what hiring would look like. Background: we didn't like being employees and felt our potential wasn't being tapped under that model. Right now, we're thinking that a percentage of the profit (TBD, but like 50% or something) would be split as an even profit share amongst everyone working here each month. So right now, Neil and I will each get 50% that half-portion of this month's profit ($0.00). And if we ever wanted to bring on another person, all three of us would get 33.3% of that month's portion. Also, we want people to be able to come on and off in a lightweight fashion, so month-to-month seems right.
      <%= image_tag "chatBubble.jpg", class: "chatBubble" %>
    </blockquote>


    <blockquote class="neil">
      Growth for the sake of growth is the ideology of the cancer cell. -Edward Abbey
      <%= image_tag "chatBubble.jpg", class: "chatBubble" %>
    </blockquote>
  </div>
</section>
