<section class="context desktop-only">
  <p>
    We also made apps.
  </p>

  <p>
    All apps are now open sourced at <a href="https://github.com/superseriouscompany">https://github.com/superseriouscompany</a>
  </p>

</section>

<div class="everyphone">
  <div class="top-circle"></div>
  <section class="apps">
    <h4>In Progress</h4>

    <div class="grid">
      <% @active_projects.each do |p| %>
        <div class="app">
          <a href="/projects/<%= p.slug%>">
            <%= image_tag "projects/#{p.slug}Icon.png" %>
            <div class="name">
              <%= p.name %>
            </div>
          </a>
        </div>
      <% end %>
    </div>
  </section>
  <section class="apps">
    <h4>Finished</h4>

    <div class="grid">
      <% @finished_projects.each do |p| %>
        <div class="app">
          <a href="/projects/<%= p.slug%>">
            <%= image_tag "projects/#{p.slug}Icon.png" %>
            <div class="name">
              <%= p.name %>
            </div>
          </a>
        </div>
      <% end %>
    </div>
    <p style="color: white">
      Not pictured, but more recently completed: <a style="color: hotpink" href="https://itunes.apple.com/us/app/easter-egg-peg/id1212152764?mt=8">Egg Peg</a> and <a style="color: hotpink" href="https://itunes.apple.com/us/app/floats-find-close-friends/id1195463981?mt=8">Floats</a>
    </p>

  </section>
  <div class="bottom-circle"></div>
</div>
