<section class="context">
  <%= raw @project.description %>
  <% if @project.url.present? %>
    <div class="link">
      <a href="<%= @project.url %>"><%= @project.link %></a>
    </div>
  <% end %>
</section>

<section class="project">
  <% @progress_updates.each do |update| %>
    <article class="progressUpdate">
      <h2><%= update.created_at.strftime('%-d %b %Y') %></h2>
      <%= image_tag update.image_url, class: 'screenshot' %>
      <div class="description">
        <%= raw update.description %>
      </div>
    </article>
  <% end %>
</section>
