<section class="context">
  <%= @project.description %>
  <div class="link">
    <a href="<%= @project.link%>"><%= @project.link %></a>
  </div>
</section>

<section class="story">
  <% @project.days.each do |day| %>
    <article class="day">
      <h2><%= day.portuguese_title %></h2>
      <%= render day %>
    </article>
  <% end %>
</section>
