<%= image_tag day.image_url, class: "comic" %>
<div class="quotes">
  <% if day.order == "neil" %>
    <blockquote class="neil">
      <%= raw day.neil_quote %>
    </blockquote>

    <blockquote class="santi">
      <%= raw day.santi_quote %>
    </blockquote>
  <% else %>
    <blockquote class="santi">
      <%= raw day.santi_quote %>
    </blockquote>

    <blockquote class="neil">
      <%= raw day.neil_quote %>
    </blockquote>
  <% end %>
</div>
