<!DOCTYPE html>
<html>
<head>

  <title><%= "#{@page_title} |" if @page_title.present? %> Super Serious Company </title>

  <meta charset="utf-8">
  <meta name="viewport"           content="width=device-width, initial-scale=1.0"/>
  <meta name="description"        content="<%= @meta_description.present? ? @meta_description : "Plot: Homeless guy and his boss quit jobs and randomly move to Portugal, build apps til they run out of cash."%>" />
  <meta property="og:url"         content="http://superseriouscompany.com" />
  <meta property="og:title"       content="Super Serious Company" />
  <meta property="og:description" content="<%= @meta_description.present? ? @meta_description : "Plot: Homeless guy and his boss quit jobs and randomly move to Portugal, build apps til they run out of cash."%>" />
  <meta property="og:image"       content="<%= @share_image_url || 'https://cldup.com/Kl5WvoFCg9.jpg'%>" />

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">

  <!-- This is only here for turbolinks. If we move off rails, we can put it back below. -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83917648-1', 'auto');
  </script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "#{controller_name}-#{action_name}" %>">
  <header class="<%= 'withHeading' if @page_heading %>">
    <% if @page_heading %>
      <a href="/" class="smallLogoLink">
        <%= image_tag "smallLogo.jpg", class: "smallLogo", alt: "Super Serious Company" %>
      </a>
    <% end %>
    <h1 class="<%= 'singleLine' if @page_heading && !@page_heading.match(/br \//) %>">
      <% if @page_heading %>
        <span class="pageHeading">
          <%= raw @page_heading %>
        </span>
      <% end %>
      <a class="logoLink" href="/">
        <%= image_tag "logo.jpg", alt: "Super Serious Company" %>
      </a>
    </h1>
    <%= image_tag "hamburger.jpg", class: "hamburger js-hamburger" %>
    <div class="menu">
      <a href="/projects/untitled-october" class="top left item <%= 'active' if controller_name == 'projects'%>">Projects</a>
      <a href="/ideas" class="bottom left item <%= 'active' if action_name == 'ideas' %>">Ideas</a>
      <a href="/philosophy" class="desktop-only bottom right item <%= 'active' if action_name == 'philosophy' %>">Nobody Cares</a>
      <a href="/house" class="top right item <%= 'active' if action_name == 'house' %>">Our House</a>
      <a href="/philosophy" class="mobile-only bottom right item <%= 'active' if action_name == 'philosophy' %>">Nobody Cares</a>
    </div>
  </header>

  <%= yield %>

  <footer>
    <%= image_tag "santiHero.jpg", class: "santi hero" %>
    <%= image_tag "neilHero.jpg", class: "neil hero" %>
  </footer>

  <div class="nightshade"></div>
</body>
</html>
